h1{
	border-left: 6px solid black;
    background-color: lightgrey; 
    text-align:left;
    max-width :600px;
    margin : auto;
    font-family: courier;
}

#datacol1{
	
	width:100%;
	height:50%;
}

