<!DOCTYPE html>
<html>
<head>
	<title>Edit</title>
	<link rel="stylesheet" href="/static/bootstrap.css">
	<link rel="stylesheet" href="/static/db.css">
	<script type="text/javascript" src="/static/jquery-3.1.1.js"> </script>
	<script>
	
		
		user= {"fname":"","lname":"","agee":"","gender":"","occupation":"","image":"","dob":""};
		//user.dob = $("#")
		$(document).ready(function(){
			
			$(".alert").hide();
			function calculateAge(){
				var inputDate=$('input#date').val();
		  		user.dob=inputDate;
	  			console.log(inputDate);
				var splitDate=inputDate.split("/",3);
				var a= new Date();
				var month=a.getMonth();
				var year=a.getFullYear(); 
				var date=a.getDate(); 
				
				if (splitDate[1]>month){
					var age =(year-splitDate[2])-1;
				}
				else if (date==splitDate[0] && month==splitDate[1]){
					var age = year-splitDate[2];
				}

				else if(splitDate[1]<month){
					var age= year-splitDate[2];
				}
				if(age<18 || age>60){
					alert("Age should be between 18 and 60");
					$('input#date').val("");
					$('input#date').focus();
				}			
				else {
					user.agee=age;
					console.log(age);
				}
				
			}



			var fileInput=document.getElementById("fileInput");			
				//console.log(fileInput);
		 		fileInput.addEventListener('change',function(e){
		 			//alert("clicked ");
					var file = fileInput.files[0];				
					var reader = new FileReader();
					reader.readAsDataURL(file);
					reader.onload = function(e) {	
						 //console.log(reader.result);
						var photo=reader.result; 
						//console.log(photo);
						photo = photo.split(",").pop();
						user.image=photo;
						console.log(user.image);
					}
				});
			


				
			//$(".alert").hide();
			calculateAge();


    		$('input#date').on('change', function() {
    			var inputDate=$('input#date').val();
		  		user.dob=inputDate;
	  			console.log(inputDate);
				var splitDate=inputDate.split("/",3);
				var a= new Date();
				var month=a.getMonth();
				var year=a.getFullYear(); 
				var date=a.getDate(); 
				
				if (splitDate[1]>month){
					var age =(year-splitDate[2])-1;
				}
				else if (date==splitDate[0] && month==splitDate[1]){
					var age = year-splitDate[2];
				}

				else if(splitDate[1]<month){
					var age= year-splitDate[2];
				}
				if(age<18 || age>60){
					alert("Age should be between 18 and 60");
					$('input#date').val("");
					$('input#date').focus();
				}			
				else {
					user.agee=age;
					console.log(age);
				}
			});
			
			$(".btn").on('click', function() {
				//alert("hey");
				document.getElementById("fname").value= "";
				document.getElementById("lname").value= "";
				document.getElementById("date").value= "";
				document.getElementById("m").checked = false;
				document.getElementById("f").checked = false;
				
			});
    		
		});
		users= [];
		
		
		function validateForm(){
			var x= document.forms["customerForm"]["fname"].value;
			if (x == null || x=="" ) {
        		alert("Please enter a name");
        		return false;
       		 }
        	else {
        		return true;
        	}
        
   		}
   		$('form').on('submit', myFunc);
   	  	function myFunc(event) {
    		event.preventDefault();
    		if (validateForm()){  				
				user.fname=document.getElementById("fname").value;
		 		user.lname=document.getElementById("lname").value;
		 		var selected = document.getElementsByName("occupation")[0].selectedIndex;
		 		user.occupation =  document.getElementsByName("occupation")[0].options[selected].text;	
		 		var chosengender = document.querySelector('input[name="gender"]:checked'); 			 		
		 		user.gender=chosengender.value;		 	
		 		console.log(user);	

		 	
		 		$.ajax({
		 			type: 'POST',   
	    			contentType: 'application/json',    
	    			data: JSON.stringify(user),    
	    			dataType: 'json',
	    			url: "/update/" + $("#id").val(),
	    			
	   		 		success: function (result){
	   		 			$(".alert").show();
	   		 			$(".alert").html(result.result).fadeIn().delay(1250).fadeOut();
	        			console.log(result.result);
	   		 		},
	   		 		error: function (result) {
	   		 			console.log("AJAX POST error")
	        			$(".alert").show();
	   		 		}
				});
			
		 	}
   		}	
	 		
</script>
</head>
<body>
<nav class="navbar navbar-default">

	<div class="container">
		<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
     		 <a class="navbar-brand navbar-text" href="http://127.0.0.1:5000">Customer Directory</a>
   		</div>
   		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	     	<ul class="nav navbar-nav">
		        <li  class="navbar-text" id="alldetails"><a href="http://127.0.0.1:5000">Registered <br> customers<span class="sr-only">(current)</span></a></li>
		        <li class="navbar-text" ><a href="http://127.0.0.1:5000/db">Register</a></li>
	        
	      	</ul>
	      		
      
    	</div>
		
	</div>
</nav>
<div class="container">
			<h1> Customer Registration Form </h1> <br>
			<input  type="hidden" id= "id" value="{{customer["_id"]}}">
			<form name="customerForm"  id="upload-file" method="post" enctype="multipart/form-data" onsubmit="return validateForm()" method="POST">
			
		 	<div class="row"> 
			 	<div class="col-md-3"> 
			 		<div class="row">
			 			Please enter your first Name:
			 		</div><br>	
			 		<div class="row">
			 			Last Name:
			 		</div><br>	
			 		<div class="row">
			 			Date of birth (Enter in this format- DD/MM/YYYY):
			 		</div><br>	
			 		<div class="row">
			 			Gender:
			 		</div><br>	
			 		<div class="row">
			 		Occupation:
			 		</div><br>	
			 		<div class="row">
			 		Upload an image:
			 		</div><br>
			 	</div> 		
			 	<div class="col-md-3"> 
			 		<div class="row">
			 			<input class="form-control" type="text" id= "fname" name="firstname" value="{{customer["fname"]}}">
			 			
			 		</div>	
			 		<div class="row">
			 			<input class="form-control" type="text" id="lname" name="lastname " required value="{{customer["lname"]}}">
			 			
			 		</div>
			 		<div class="row">
			 			<input class="form-control" type="text" id="date" name="date" value="{{customer["dob"]}}">
			 			 

			 		</div><br>		
			 		<div class="row">
			 		
			 			{% if customer["gender"]=="male" %} 
			 			<div class="radio" name="genders">			 			
			 				<input type="radio" name="gender" id="m" value="male" checked >Male 
			 			</div>			 		
						<div class="radio" name="genders">
							<input type="radio" name="gender" id="f" value="female" >Female
						</div>

						{% else %}
						<div class="radio" name="genders">			 			
			 				<input type="radio" name="gender" id="m" value="male"  >Male 
			 			</div>			 		
						<div class="radio" name="genders">
							<input type="radio" name="gender" id="f" value="female" checked >Female
						</div>
							
						
					 	{% endif %} 	
		
					</div>	
			 		<div class="row">
			 			
			 			<select id="occupation" name="occupation"> 
			 				{% if customer["occupation"]=="Student" %} 
								<option value="Student" selected>Student </option>
								<option value="Govt employee" >Govt employee </option>
								<option value="Business" >Business</option> 
								<option value="Private Sector employee" >Private Sector employee</option> 
								<option value="House wife"  >House wife</option> 
							{% elif customer["occupation"]=="Govt employee" %}
								<option value="Student" >Student </option>
								<option value="Govt employee" selected >Govt employee </option>
								<option value="Business" >Business</option> 
								<option value="Private Sector employee" >Private Sector employee</option> 
								<option value="House wife"  >House wife</option> 
							{% elif customer["occupation"]=="Business" %}
								<option value="Student" >Student </option>
								<option value="Govt employee" >Govt employee </option>
								<option value="Business" selected>Business</option> 
								<option value="Private Sector employee" >Private Sector employee</option> 
								<option value="House wife"  >House wife</option> 
							{% elif customer["occupation"]=="Private Sector employee" %}
								<option value="Student" >Student </option>
								<option value="Govt employee" >Govt employee </option>
								<option value="Business" >Business</option> 
								<option value="Private Sector employee" selected >Private Sector employee</option> 
								<option value="House wife"  >House wife</option> 
							{% else %}
								<option value="Student">Student </option>
								<option value="Govt employee" >Govt employee </option>
								<option value="Business" >Business</option> 
								<option value="Private Sector employee" >Private Sector employee</option> 
								<option value="House wife"  selected >House wife</option> 
							{% endif %}
						</select>
					</div><br>
					<div class="row">					
						<input method="post" enctype="multipart/form-data" action="/customer" name="file" id="fileInput" type="file">
					</div><br><br>		
				</div>
				
			</div>   
			<div class="row">
				<div class="col-md-6" >
					<button class="btn btn-info btn-md pull-right" onclick="myFunc(event)">Save
					</button> 	
				</div>

			</div>
			<div class="row">
				<div class="alert alert-success fade in">
  					
				</div>
			</div>
</form>  
</div>
<input type="text" value="{{customer["image"]}}" id="photo_url" style="display:none">
</body>
</html>

